secret_key_base: your_long_secret_key_base_here
gmail:
  user_name: your_email_name
  password: password_here
yc:
  access_key_id: your_access_key_id
  secret_access_key: your_secret_access_key
yandex_map:
  api_key: your_api_key
